<h1>Hello, World!</h1>
<p>On this site, on the sixth day of March, 2018,
  John Treankler created his first rails application:
  <b>Hello World</b>
</p>
<!-- p>Find me in app/views/welcome/index.html.erb</p -->
