// Place all the styles related to the bingo_cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-radius: 32px 32px 32px 32px;
  background-color: #606060;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
th {
  background-color: #808080;
  height: 90px;
  text-align: center;
  font-size: 48pt;
  color: #e0e0e0;
  text-shadow: -2px -2px 0 #606060,	2px -2px 0 #606060,	-2px 2px 0 #606060,	2px 2px 0 #606060;
}
td {
  width: 150px;
  height: 130px;
  background-color: #e0e0e0;
  color: #404040;
  padding: 5px;
  font-size: 24pt;
  text-align: center;
}
.btn {
  width: 97px;
  height: 60px;
  border: 2px solid;
  border-radius: 8px;
  font-size: 16pt;
  text-align: center;
}
th:first-child               { border-radius: 30px 0 0 0; }
th:last-child                { border-radius: 0 30px 0 0; }
tr:last-child td:last-child  { border-radius: 0 0 30px 0; }
tr:last-child td:first-child { border-radius: 0 0 0 30px; }
div {
  text-align: center;
  margin-top: 10px;
}
@media print {
  .btn { display: none; }
  th           { background-color: #e0e0e0; }
  td.covered   { background-color: #e0e0e0; }
  td.uncovered { background-color: #ffffff; }
}
.alert-title {
  background-color: #808080;
  font-size: 48pt;
  color: #e0e0e0;
  text-shadow: -2px -2px 0 #606060,	2px -2px 0 #606060,	-2px 2px 0 #606060,	2px 2px 0 #606060;
}
.alert-content {
  font-size: 20px;
}
